<p> 
<%= link_to 'Item list',  'list/list_items' %>
<%= link_to 'Champion list',  'list/list_champions'  %>
<%= link_to 'Runes list', 'list/list_runes' %>
</p>
<p>
    <%= form_tag({controller: "calculator",action:"index"}, method: "GET" ) do %>
        <%= text_field_tag :name,nil, placeholder: "summoners name" %>
        <%= text_field_tag :m_id,nil, placeholder: "game id, will use your last game unless specified" %>
        <%= select_tag :region, options_for_select(['BR', 'EUNE', 'EUW', 'KR', 'LAN', 'LAS', 'NA', 'OCE', 'RU', 'TR'],"EUW") %>
        <%= submit_tag :sumbit%>
    <% end  %>
</p>