<%= render 'header' %>

<div id="lefthalf" class="container" style="float:left; width:50%;">
    <div id="game_form_l"><%= render 'game_form_left' %></div>
    <%= render 'lefthalf'%></div>
<div id="righthalf" class="container" style="float:right; width:50%;" >
    <div id="game_form_r"><%= render 'game_form_right' %></div>
    <%=  render 'righthalf'%>
</div> 
<%= render 'search_items' %>
<script> $('.search').select2(); </script>