<%= link_to "Back" , root_path %>
<h1>Listing Items</h1>

<table>
  <tr>
  <th>name</th>
  <th>id</th>
  <th>cost</th>
  <th>stats</th>
  
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.attributes["name"]%></td>
      <td><%= item.attributes["id"]%></td>
      <td><%= item.attributes["cost"]%></td>
      <td>
      <% item.attributes.each do |k,i| %>
      <%= k.to_s+" "+i.to_s unless i.blank? || k=="name"||k=="id"||k=="description"||k=="cost" %>
      <% end %>
      </td>
      <td><%= item.attributes["description"] %></td>
    </tr>
  <% end %>
  
</table>